.game-container {
    background-color: aqua;
   
}

.mid {
    background-color: transparent;
    display: none;
}


body {
    background-color: #CACACA;
    font-family: "Lato", "Oswald", "Playfair+Display";
}

.move-button {
    background-color: #CACACA;
    width: 100%;
    display: inline-block;
    text-transform: uppercase;
}

.game-container {
    margin: auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 20px;
    margin-right: 20px;
}