.game-container {
  background-color: aqua;
  margin: auto;
}

.mid {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

.player1-img-holder {
  width: 100%;
}

.cardbody {
    background-image:linear-gradient(160deg, rgb(197, 151, 0), rgb(47, 45, 0));
    box-shadow: 7px 7px 5px rgb(21, 20, 1);
}
.game-options {
    margin: auto;
    width: 70vw;
}

.dropdown {
  padding-top: 15px;
}

.start-btn {
  padding: 15px;
  background-image: linear-gradient(160deg, rgb(255, 247, 0), rgb(133, 97, 0));
  border: #3f3706;
  color: rgb(92, 56, 2);
  font-size: 14px;
}

.header-container {
    background-image: linear-gradient(160deg, rgb(255, 247, 0), rgb(0, 133, 11));
    text-align: center;
    max-width: 70vw;
    padding: 20px;
}

h2 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #ddff00;
}

#dropdownMenuButton {
    color: #3f3706;
    background-color: #e9cd18;
    text-transform: uppercase;
    border: 1px solid rgb(64, 34, 0);
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 12px;
}
.dropdown-item {
    text-align: center;
 
}
.dropdown-menu {
    padding: 0px;
    min-width: 26%;
    background-color: #edff79;
    border-radius: 3px;
    font-size: 12px;
}
.dropdown-item:hover {
    background-color: #ddff00;
    border-radius: 3px;
}

.game-header {
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
}


footer {
  margin-top: auto;
  width: 100%;
  text-decoration: none;
  background-color: rgb(0, 59, 7);
  text-align: center;
  margin: auto;
  width: 70vw;
}


footer a {
  color: rgb(243, 246, 149);
  text-decoration: none;
  text-align: center;
  font-style: oblique;
  font-size: 14px;
}

.player-health-img {
    position: relative;
    width: 40%;
    height: 40%;
}

.player-health {
    position: absolute;
    font-size: 11px;

}

body {
    color:rgb(2, 59, 0);
    margin: 0;
    padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(160deg, rgb(42, 77, 0), rgb(47, 45, 0));
  font-family: "Lato", "Oswald", "Playfair+Display";
}

.move-button {
  background-image: linear-gradient(160deg, rgb(255, 247, 0), rgb(133, 97, 0));
  width: 100%;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid rgb(59, 54, 4);
  padding: 10px;
  box-shadow: 1px 5px 5px rgb(59, 54, 4);
  border-radius: 3px;
  margin-top: 2px;
  
}

.move-button a:link,
a:visited {
  color: rgb(92, 56, 2);
}

.move-button:hover {
  background-image: linear-gradient(160deg, rgb(234, 255, 0), rgb(157, 181, 3)); 
  box-shadow: 10 5px 15px rgb(203, 216, 13);
  color:#ddff00; 
}

.start-btn:hover {
    background-image: linear-gradient(160deg, rgb(234, 255, 0), rgb(157, 181, 3)); 
    box-shadow: 10 5px 15px rgb(203, 216, 13);
    color:#ddff00; 
  }

.game-container {

  height: 100%;
  max-width: 70vw;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: contain;
  object-fit: cover;
  background-image: url("./assets/Screen Shot 2023-01-28 at 3.20.26 PM.png");
}

/* JC: Removed sound file from flow */
.startup-ambience {
  display: none;
}

.text-box {
  background-color: #e9cd18;
  margin-top: 30px;
}

#window-text {
  background-color: #3f3706;
  margin: 7px 7px;
  color: white;
}
